<div class="body">
  <div id="title-startpage">
    <%= cl_image_tag("drinks-on-cover.jpg", width: 600, height: 400, crop: :fill) %>
    <h1>Menu of Tonight</h1>
  </div>
  <div class="cocktail-list">
    <ul>
      <% @cocktails.each do |cocktail|  %>
        <li> <%= link_to cocktail.name, cocktail_path(cocktail)%></li>
      <% end %>
    </ul>
  </div>
  <div class="button">
    <p> <%= link_to "Add a cocktail", new_cocktail_path(@cocktail)%></p>
  </div>
</div>
