<div class="body">
  <div class="cocktail-list">
    <h1>Menu of Tonight</h1>

    <ul>
       <% @cocktails.each do |cocktail|  %>
        <li> <%= link_to cocktail.name, cocktail_path(cocktail)%></li>
      <% end %>
    </ul>

    <p class="button"> <%= link_to "Add a cocktail", new_cocktail_path(@cocktail)%></p>
  </div>
</div>
