.body {
  display: flex;
  flex-direction: column;
  text-align: center;
 // margin-top: 50px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
}

.button {
  text-decoration: none;
  color: navy;
  background-color: creme;
}
